name: Flutter CI/CD

on:
  pull_request:
    branches:
      - main  # Trigger only for PRs targeting main
    types: [opened, synchronize, ready_for_review]  # Trigger when PR is updated or ready

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.3'

      - name: Install Dependencies
        run: flutter pub get

      - name: Analyze Code
        run: flutter analyze

      - name: Run Tests
        run: flutter test --coverage

      - name: Generate Coverage Report
        run: |
          sudo apt-get install lcov
          genhtml coverage/lcov.info --output-directory coverage/html
